*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main{
    background-color: #DCDCDC;
    height: 5000px;
}




.struttura-header{
    margin-left: 30px;
    margin-top: 15px;
}

.titolo-header{
    display: inline-block;
    font-size: 50px;
    vertical-align: text-bottom;
}

.box{
    background-color: white;
    height: 72px;
    width: 901px;
}
   

.box-bottoni{
    margin: 50px 300px 5px;
    display: inline-block;
    border-radius: 8px;
}


.box-task{
    margin: 5px 300px;
    height: 1000px;

}

.bottone{
    width: 80px;
    text-align: center;
    color: white;
    border-radius: 5px;
    
}
.bottone-blu{
    background-color: #1E90FF;
    margin-left: 45px;
    margin-top: 25px;
    border: none;
}

.box-task{
    
}

.titoli-sezione{
    display: inline-block;

}







#logo{
    width: 60px;
    height: 60px;
}